/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("cake_home (2).jpg");
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;

}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 10px;
    font-weight: bold;
}

.logo {
    font-size: 20px;
    
}

.image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info {
    margin-top: 20px;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info p {
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 200px;
}
.a1{
    font-size: 50px;
    
}
footer {
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 260px;
  }
  

  